.urlWidget {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: .5rem;
    border-radius: .25rem;
    border: 2px solid #fff;
}

.urlWidget button {
    font-family: "Silkscreen", cursive;
    color: red;
}

.urlWidget button:hover {
    color: #fc3; 
}