.home {
    background: #000;
    min-height: 100vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-top: 0.25rem;
}

.MuiButton-root,
button {
  font-family: "Silkscreen", cursive;
}



.home-row {
  display: flex;
  flex-direction: row;
}