#loadingScreen {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
}

#loadingScreen p {
    animation-name: loading;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes loading {
    from {
        font-size: 0.5rem;
    }

    to {
        font-size: 2rem;
    }
}