.app {
  text-align: center;
}

.logo {
  margin: 0 auto;
  width: 400px;
  height: 100px;
  text-indent: -9999px;
  background: transparent url('./assets/logo-teamspawn.png') no-repeat center center;
  background-size: cover;
}