/*
Inspirations
https://github.com/cafeTechne/Final-Fantasy-CSS
https://codepen.io/slias/pen/OyXvwq
https://codepen.io/Kaizzo/pen/aGWwMM
https://codepen.io/XaelGa/pen/rqYZNP
https://finalfantasy.fandom.com/wiki/Title_screen/Gallery
*/

.app {
  text-align: center;
}

.logo {
  margin: 0 auto;
  width: 400px;
  height: 100px;
  text-indent: -9999px;
  background: transparent url('./assets/logo-teamspawn.png') no-repeat center center;
  background-size: cover;
}